useDynLib(WGCNA)

exportPattern("^[^\\.]")

import(foreach, doParallel, dynamicTreeCut, fastcluster)
importFrom(survival, is.Surv, coxph, Surv)
importFrom(parallel, stopCluster)
#importFrom(AnnotationDbi, mappedkeys)
importFrom(grDevices, dev.new)
importFrom(utils, packageVersion, compareVersion)
importFrom(parallel, detectCores)
importFrom(matrixStats, rowWeightedMeans, colRanks, colQuantiles, rowMedians)
importFrom(Hmisc, rcorr.cens, errbar)
importFrom(impute, impute.knn)
importFrom(reshape, cast, melt)
importFrom(splines, ns)
importFrom(preprocessCore, normalize.quantiles)
